body {
  background-color: white; /*R*/
  font-family: Helvetica; /*R*/
  font-size: 18px; /*R*/
  line-height: 1.4; /*R*/
  color: black; /*R*/
  display: flex;/*N*/
  flex-direction: column;/*N*/
  justify-content: center;
  align-items: center;
}

/*Everything listed until align-items needed*/
.bg-container {
  display: flex; /*N*/
  width: 100%; /*N*/
  height: 30rem; /*R*/
  background-image:  url(./images/glasses-bg.png); /*N*/
  background-repeat: no-repeat; /*N*/
  background-position: center;
  background-size: cover; /*N*/
  justify-content: center; /*N*/
  align-content: center;
  flex-direction: row; /*N*/
  /*border: 2px solid yellow;*/
}

/* Header */
header {
  display: flex; /*N*/
  width: 960px; /*N*/
  justify-content: space-between; /*N*/
  background-color: cadetblue; /*N*/
  color: white; /*N*/
  flex-direction: row; /*N*/
  position: fixed; /*N*/
  z-index: 20; /*N*/
  margin-top: 1rem; /*N*/
  /*border: 2px solid orange;*/
}

#title-container {
  display: flex;
  width: 960px;
}

.logo {
  display: flex;
  width: auto;
  align-items: center;
  /*border: 2px solid green;*/
}

.logo img {
  display: flex;
  width: auto;
  height: 1.5rem;
  margin: 1rem 0 1rem 2rem;
  /*border: 2px solid blue;*/
}

.logo h1 {
  display: flex;
  width: auto;
  font-size: 1rem;
  margin: 1rem;
  color: white;
  /*border: 2px solid yellow;*/
  }

#title-container nav {
  display: flex;
  width: 650px;
  height: auto;
  justify-content: flex-end;
  /*border: 2px solid purple;*/
}

#title-container span {
  display: block;
  margin: 1rem 2rem;
  /*border: 2px solid yellow;*/
}

span a {
  color: white;
}

/*960px box container*/
.site-container {
  display: flex;
  width: 1000px;
  height: auto;
  flex-flow: column wrap;
  align-content: flex-end;
  align-items: flex-end;
  /*border: 2px solid red;*/
}

/*wht-box's*/
.wht-box {
  display: flex;
  width: 35rem;
  max-height: 39em;
  margin: 14rem 0 0 0;
  background-color: white;
  flex-flow: column wrap;
  justify-content: center;
  z-index: 10; /*N*/
  /*border: 2px solid blue;*/
}

/*wht-box Headers*/
.wht-box h2 {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
  /*border: 2px solid purple;*/
}

/*New Section Container*/
section {
  display: flex;
  width: 100%; /*R*/
  height: auto;
  margin: 0;
  flex-flow: column;; /*N*/
  justify-content: center;
  align-items: center;
  /*border: 2px solid green;*/
}

/*Serevies container*/
.services {
  display: flex;
  width: 960px;
  height: 8rem;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  /*border: 2px solid purple;*/
}

/*product-items images*/
.service-item {
  display: flex;/*N*/
  flex-direction: column;
  width: 5rem;
  height: 8rem;
  align-items: center;/*N*/
  justify-content: space-between;
  margin: 0 3rem 0 3rem;
  /*border: 1px solid pink;*/
}

.service-item img {
  width: 3.5rem;
  /*border: 2px solid red;*/
}

.service-item p {
  text-align: center;
}

/*Office's info container*/
.office-info {
  display: flex; /*N*/
  max-width: 960px; /*N*/
  margin-bottom: 5rem; /*N*/
  justify-content: center; /*N*/
}

.philosophy {
  margin-right: 2.5%;
}

.philosophy,
.appointments {
  width: 35%;
}

.office-info h4 {
  width: 50%;
  height: auto;
  background-color: cadetblue; /*R*/
  color: white; /*R*/
  font-size: 1rem; /*R*/
  font-weight: bold; /*R*/
  padding: 0.5rem 1.25rem;
  text-align: left;
  margin-bottom: 1rem;
  /*border: 2px solid blue;*/
}

/*All Footer Info.*/
footer {
  display: flex;
  width: 100%;
  height: 9.5rem;
  margin: 0;
  background-color: azure;
  align-items: center;
  justify-content: center;
  /*border: 2px solid purple;*/
}

.logo2 {
  display: flex;
  width: 960px;
  align-items: center;
  padding: 4rem 0 4rem 4rem;
  /*border: 2px solid yellow;*/
}

.logo2 img {
  height: 1.5rem;
  margin-right: 1rem;
}

.footer-text {
  display: flex;
  width: 960px;
  /*border: 2px solid blue;*/
}

@media only screen  and (min-width: 767px) and  (max-width: 2000px) {
  #title-container .menu2  {
   display: none;
   /*border: 2px solid purple;*/
  }

  #title-container .menu2 span {
  display: none;
  /*border: 2px solid purple;*/
  }
}

@media only screen and (max-width: 768px) {
  .bg-container {
    height: 22rem; /*R*/
    /*border: 2px solid yellow;*/
  }

  header {
    width: 100%; /*N*/
    margin: 0;
    /*border: 2px solid orange;*/
  }

  #title-container {
   width: 100%;
   /*border: 2px solid green;*/
  }

  #title-container nav {
    width: auto;  /*N*/
    /*border: 2px solid purple;*/
  }

  #title-container .menu2  {
   display: none;
   /*border: 2px solid purple;*/
  }

 #title-container .menu2 span {
  display: none;
  /*border: 2px solid purple;*/
 }

  .site-container {
    width: 100%;
    /*border: 2px solid red;*/
  }

  /*wht-box's*/
  .wht-box {
    width: 25rem;
    height: 3rem;
    margin: 9rem 2rem 0 0;
    /*border: 2px solid blue;*/
  }

  /*wht-box Headers*/
  .wht-box h2 {
    font-size: 1.33rem;
    margin: .75rem 4rem;
    /*border: 2px solid purple;*/
  }

  section {
    width: 100%; /*R*/
    /*border: 2px solid green;*/
  }

  .services {
    width: 100%;
    /*border: 2px solid purple;*/
  }

  .office-info {
    width: 100%; /*N*/
  }

  footer {
    width: 100%;
    /*border: 2px solid purple;*/
  }

  .logo2 {
    width: 100%;
    margin: 0;
    /*border: 2px solid yellow;*/
  }

  .footer-text {
    max-width: 468px;
    margin: 0;
    /*border: 2px solid blue;*/
  }

}

@media only screen and (max-width: 470px) {
  .bg-container {
    height: 17rem; /*R*/
    /*border: 2px solid yellow;*/
  }

  header {
    width: 100%; /*N*/
    margin: 0;
    /*border: 2px solid orange;*/
  }

  #title-container {
   width: 100%;
   /*border: 2px solid green;*/
  }

  .logo h1 {
    display: none;
  }

  #title-container nav{
    width: auto;
    justify-content: space-between;
    /*border: 2px solid purple;*/
  }

  #title-container .menu1 span {
    display: none;
  }

  #title-container .menu2  {
    width: 100%;
    display: block;
    text-align: right;
   /*border: 2px solid purple;*/
  }
 #title-container .menu2 span {
   display: block;
   margin: 1rem 2rem;
  /*border: 2px solid purple;*/
 }

 .bg-container {
   background-position: 20%;
   /*border: 2px solid yellow;*/
 }

  .site-container {
    width: 100%;
    /*justify-content: center;
    text-align: center;*/
    /*border: 2px solid red;*/
  }

  /*wht-box's*/
  .wht-box {
    width: 100%;
    height: 3rem;
    margin-top: 12rem;
    margin-right: 0;
    /*border: 2px solid blue;*/
  }

  /*wht-box Headers*/
  .wht-box h2 {
    font-size: 1rem;
    margin: 1rem 0;
    justify-content: center;
    /*border: 2px solid purple;*/
  }

  section {
    width: 100%; /*R*/
    /*border: 2px solid green;*/
  }

  .services {
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 3.77rem 0 3.77rem 0;
    /*border: 2px solid purple;*/
  }

  .service-item {
    margin: 1.54rem 0 1.54rem 0;
    /*border: 1px solid pink;*/
  }

  .service-item p {
    text-align: center;
    font-size: 0.77rem;
    /*border: 1px solid blue;*/
  }

  .office-info {
    width: 100%; /*N*/
    height: auto;
    flex-flow: column wrap;
    /*border: 2px solid blue;*/
  }

  .philosophy,
  .appointments {
    width: 91%;
    font-size: 0.77rem;
    margin-bottom: 4rem;
    /*border: 2px solid yellow;*/
  }

  .office-info h4 {
    width: 100%;
    text-align: center;
    /*border: 2px solid blue;*/
  }

  footer {
    width: 100%;
    /*border: 2px solid purple;*/
  }

  .logo2 {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    /*border: 2px solid yellow;*/
  }

  .footer-text {
    display: none;
    /*border: 2px solid blue;*/
  }

}
